/***** Selectors */

h1{
}
body{
  background-color: grey;
}

img{
  background-color: black;
}
img:hover{
  background-color: gold;
}

/***** Id */

#heading {
  font-size: 100px;
}

/***** Class */

.image1{
  background-color: red;

}
.image2{
  background-color: green;
}
